*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  width: 100%;
}

.container {
  max-width: 70.5rem;
  min-height: 41.25rem;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: #f3eed9;
}

.hero__text {
  text-align: center;
}

.hero__title {
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  font-weight: 900;
  color: #824936;
  text-align: center;

  margin-top: 0;
}

.hero__subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
}

.white {
}

.white__container {
  max-width: 70.5rem;
  margin: 0 auto;
  padding: 5em 0;
}

.white__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white__title {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: 900;
  color: #824936;
  text-align: center;
  margin-top: 0;
}

.white__text {
  display: flex;
  gap: 5rem;
}

.white__col--text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.313rem;
  color: #222c2a;
}

.green {
  background: #222c2a;
  color: #f3eed9;
}

.green__container {
  display: flex;
  gap: 4rem;

  max-width: 70.5rem;
  margin: 0 auto;
  padding: 5em 0;
}

.green__text {
  width: 50%;
}

.green__img {
  height: 100%;
  width: 50%;
}

.green__text--title {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: 900;
  color: #f3eed9;
  margin-top: 0.1em;
}

.brown {
  background: #824936;
  color: #f3eed9;
}

.brown__container {
  display: flex;
  gap: 4rem;

  max-width: 70.5rem;
  margin: 0 auto;
  padding: 5em 0;
}

.brown__text--title {
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  font-weight: 900;
  margin-top: 0.1em;
}

.brown__text {
  width: 50%;
}

.brown__img {
  width: 50%;
  height: 100%;
}
